@{
  Layout = "_Layout";
}

@* <h1>All Products:</h1> *@

@* <ol>
@foreach (Product product in Model)
{
    <ul>
        <li>ID: @product.Id</li>
        <li>Name: @product.Name</li>
        <li>Description: @product.Description</li>
        <li>Price: @product.Price</li>
        <li>PictureUrl: @product.PictureUrl</li>
    </ul>
    <a href="/Products/Details/@(product.Id)"><p>View Details</p></a>
    <br>
}
</ol> *@

<h4 class="splashcontent">Examples of our foine READMEs:</h4>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#example1">
  Check em:
</button>

<div class="modal fade" id="example1" tabindex="-1" role="dialog" aria-labelledby="example1Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="example1Label">DB output goes here:</h4>
      </div>
      <div class="modal-body">
        <img class="productimgs" src="~/img/template3.1.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#example2">
  Check 2:
</button>

<div class="modal fade" id="example2" tabindex="-1" role="dialog" aria-labelledby="example2Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="example2Label">DB output goes here:</h4>
      </div>
      <div class="modal-body">
        <img class="productimgs" src="~/img/template4.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#example3">
  Check the Third:
</button>

<div class="modal fade" id="example3" tabindex="-1" role="dialog" aria-labelledby="example3Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="example1Label">DB output goes here:</h4>
      </div>
      <div class="modal-body">
        <img class="productimgs" src="~/img/template5.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@* @if (Model.Count == 0)
{
  <h3>There are no products currently available</h3>
  <p>Please check back at a later time</p>
} *@

@* <ul>
  @foreach(Product product in Model)
  {
    <li>@Html.ActionLink($"{product.Name}", "Details", new {id = product.ProductId}) </li>
  }
</ul> *@

@* <p>@Html.ActionLink("Add new product", "Create")</p> *@
@* <p>@Html.ActionLink("Home", "Index", "Home")</p> *@